@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* LIGHT */
  :root {
    --foreground: 240 10% 3.92%;

    --primary: 253 60% 52.9%;
    --primary-foreground: 0 0% 100%;

    --destructive: 349.44 87.1% 45%;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.35rem;
  }

  .dark {
    --foreground: 0 0% 75.91%;

    --primary: 152.9 60% 52.9%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.35rem;
  }
}
